<section data-component="custom-html" data-component-type="section" {% if tag != blank %}data-component-tag="{{ tag }}" {% endif %}class="custom-html">
  {% if section.settings.heading != blank %}
    <section-wrapper>
      <section-header>
        <h2 class="custom-html__heading">{{ section.settings.heading | escape }}</h2>
      </section-header>
    </section-wrapper>
  {% endif %}
  <section-wrapper>
    <section-content>
      {{ section.settings.custom_html }}
    </section-content>
  </section-wrapper>
</section>
{% schema %}
{
  "name": "Custom HTML",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Custom HTML"
    },
    {
      "type": "html",
      "id": "custom_html",
      "label": "Custom HTML",
      "default": "<p>Write or paste your HTML code here</p>"
    }
  ],
  "presets": [
    {
      "name": "Custom HTML"
    }
  ]
}
{% endschema %}