<section data-component="main-page" data-component-type="section" {% if tag != blank %}data-component-tag="{{ tag }}" {% endif %}class="main-page">
  <section-wrapper {% if section.settings.width == 'content' %}width="content"{% endif %}>
    <section-header>
      <h1>
        {{ page.title | escape }}
      </h1>
    </section-header>
  </section-wrapper>
  <section-wrapper {% if section.settings.width == 'content' %}width="content"{% endif %}>
    <section-content>
      {{ page.content }}
    </section-content>
  </section-wrapper>
</section>
{% schema %}
{
  "name": "Page",
  "settings": [
    {
      "type": "select",
      "id": "width",
      "label": "Section width",
      "options": [
        {
          "value": "content",
          "label": "Centered"
        },
        {
          "value": "site_width",
          "label": "Site width"
        }
      ]
    }
  ]
}
{% endschema %}